---
import BaseHead from '../components-2/base-head.astro';
import Header from '../components-2/header.astro';
import Footer from '../components-2/footer.astro';
import FormattedDate from '../components-2/formatted-date.astro';

// Override the default Astro props with our own.
// Original type is from CollectionEntry<'blog'>['data'] from astro:content.
type Props = Record<string, any> & {
    title: string;
    description: string;
    pubDate?: Date | undefined;
    updatedDate?: Date | undefined;
    heroImage?: string | undefined;
		heroImageAlt?: string | undefined;
};

const { title, description, pubDate, updatedDate, heroImage, heroImageAlt }: Props = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.title {
				font-size: 2em;
				margin: 0.25em 0 0;
			}
			hr {
				border-top: 1px solid #ddd;
				margin: 1rem 0;
			}
			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<!-- {heroImage &&
					<Picture
						alt={heroImageAlt ?? ''}
						aspectRatio="4:3"
						format="webp"
						src={heroImage}
						widths={[720, 1440]}
					/>
				} -->

				<h2 class="title">{title}</h2>
				{ pubDate && <FormattedDate date={pubDate} /> }
				{
					updatedDate && (
						<div class="last-updated-on">
							Last updated on <FormattedDate date={updatedDate} />
						</div>
					)
				}
				<hr />
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>
